#rami{
    background-color: black;
}
#hammami{
    padding: 0 0 0 40% ;
    font-style: oblique;
    font-size: x-large;    
    
    
}
#rh0{
    background-image: url(/2033a1ba9eebe1d819f12bee70f5e5a3.jpg);
    
    
}

#rh2{
    padding: 0 0 0 35% ;
    font-style: oblique;
    color: darkmagenta;
}

#rh3{
    padding: 0 0 0 35% ;
}
#rh4{
    color: slateblue;
}
#rh5{
    color: slateblue;
}
#rh6{
    padding: 0 0 0 25% ;
    image-rendering: optimizeQuality;
}
#work{
    padding: 0 0 0 30% ;
}
#rh7{
    padding: 0 0 0 25% ;
}
#rh8{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    
}
#rh9{
    background-color: blue;
    
    

}
#rh00{
    padding: 0 0 0 30% ;
}